.rightbarFriendContainer {
   display: flex;
   align-items: center;
   margin-bottom: 0.7em;
}

.rightbarFriendImgContainer {
   position: relative;
}

.rightbarFriendText {
   margin-left: 0.6em;
   font-size: 15px;
   font-weight: 400;
}

.rightbarOnlineBadge {
   position: absolute;
   top: -2px;
   right: 0px;
   background-color: limegreen;
   width: 12px;
   height: 12px;
   border: 1.5px solid white;
   border-radius: 50%;
}
